// Frozen is initial (zoomed out) map view

@height: 36px;
@margin: 3px;

.leaflet-control-zoom {
  .frozen & {
    display: none;
  }
}

.info-box {
  padding-top: 0;

  @media @mobile {
    .frozen & {
      padding-top: 43px;
    }

    .frozen.show-legend & {
      padding-top: 53px;
    }

    .frozen.show-chatter &, .frozen.show-data &, .frozen.show-district & {
      padding-top: 0;
    }
  }
}

.explore-this {
  display: none;

  @media @mobile {
    .frozen & {
      display: block;
    }

    .show-chatter &, .show-data &, .show-legend & {
      display: none;
    }
  }
}

.legend {
  display: none;

  .frozen.show-legend & {
    display: block;
  }

  .frozen.show-chatter &, .frozen.show-data & {
    display: none;
  }
}

.select {
  .frozen & {
    display: none;
  }
}

.chatter {
  display: none;

  .frozen & {
    display: block;
  }

  @media @mobile {
    .frozen & {
      display: none;
    }

    .show-chatter & {
      display: block;
    }
  }
}

.close-chatter {
  display: none;

  .show-chatter & {
    display: block;
  }
}

.location-box {
  display: none;

  .frozen & {
    display: block;
  }

  .show-chatter &, .show-data & {
    display: none;
  }
}

.spinner {
  display: none;
  height: @height;
  margin-bottom: @margin;

  .loading & {
    display: block;
  }
}

.result-box {
  display: none;
  
  .showing-result & {
    display: block;
  }

  @media @mobile {
    height: @height;
    margin-bottom: @margin;
  }
}

.search-icon {
  display: none;

  @media @mobile {
    display: inline-block;
  }
}

.validation-box {
  display: none;

  @media @mobile {
    height: @height;
    margin-bottom: @margin;
  }

  .showing-validation & {
    display: block;
  }
}

.search {
  @media @mobile {
    display: none;
  }
}

.find-by-address {
  @media @mobile {
    display: none;
    height: @height;
    margin-bottom: @margin;

    .showing-search & {
      display: block;
    }
  }
}

.button {
  display: none;

  @media @mobile {
    .frozen & {
      display: block;
    }
  }
}

.data-box {
  display: none;

  .frozen & {
    display: block;
  }

  @media @mobile {
    .frozen & {
      display: none;
    }

    .show-data & {
      display: block;
    }
  }
}

.close-data {
  display: none;

  .show-data & {
    display: block;
  }
}

.view-data {
  display: none;

  @media @mobile {
    display: block;

    .frozen & {
      display: none;
    }

    .show-district & {
      display: none;
    }
  }
}

.district-box {
  .frozen & {
    display: none;
  }

  @media @mobile {
    display: none;

    .show-district & {
      display: block;
    }
  }
}

.close-district {
  display: none;

  .show-district & {
    display: block;
  }
}

.back {
  display: none;

  .show-back & {
    display: block;
  }

  .show-district & {
    display: none;
  }
}
