@import (inline) "src/js/lib/leaflet/dist/leaflet.css";

@pink: #fe2954;
@gold: #ff9500;

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  height: 800px;
  width: 100%;
  font-family: "Source Sans Pro";
  font-size: 14px;
  margin: 0;
}

h3 {
  margin: 0;
}

h4 {
  margin: 5px 0;
}

.exit {
  display: inline-block;
  position: absolute;
  top: 10px;
  left: 48px;
  background: @pink;
  color: white;
  z-index: 999;
  padding: 5px 8px;
  border-radius: 3px;
  cursor: pointer;

  &:hover {
    background: @gold;
  }
}

#map { 
  width: 100%;
  height: 100%;
  float: left;

  .district-label {
    font-size: 20px;
    font-weight: bold;
  }

  .my-location {
    background-color: @pink;
    border-radius: 6px;
    border-width: 2px;
    border-style: solid;
    border-color: black;
  }
}

.info-box {
  position: absolute;
  right: 15px;
  top: 15px;

  .inner {
    border-radius: 5px;
    background-color: #EEE;
    padding: 12px;

    .location-box {
      display: none;

      .result {
        text-align: center;
      }

      .search {
        display: none;

        a {
          text-decoration: none;
          color: black;

          &:hover {
            color: @pink;
          }
        }
      }

      .find-by-address {
        overflow: hidden;
        height: 0px;
        transition: height 0.5s linear;

        &.show-find {
          height: 82px;
        }

        .address {
          border: 1px solid #CCC;
          width: 100%;
          padding: 0.5em;
          border-radius: 3px;
        }

        .onward-button {
          font-size: 15px;
          background: @pink;
          border: none;
          padding: 10px;
          width: 100%;
          margin-top: 4px;
          border-radius: 2px;
          color: white;
          font-weight: bold;
          cursor: pointer;
          border-radius: 3px;

          &:hover {
            background: @gold;
          }
        }
      }
    }

    .data-box {
      display: none; 

      ul {
        margin: 0;
        padding: 0;
        list-style-type: none;

        li {
          cursor: pointer;

          &:hover {
            color: @pink;
          }
        }
      }
    }

    .district-box {
      display: inline-block;
    }
  }

  .spinner {
    display: none;
  }
}

// Frozen is default map view
.frozen {
  #map {
    cursor: default;
  }

  .leaflet-control-zoom {
    display: none;
  }

  .exit {
    display: none;
  }

  .info-box {
    .district-box {
      display: none;
    }

    .data-box, .location-box {
      display: block;
    }
  }
}