@import (inline) "src/js/lib/leaflet/dist/leaflet.css";

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

#map { 
  width: 600px;
  height: 800px;
  float: left;

  .district-label {
    font-size: 20px;
    font-weight: bold;
  }
}

.spinner {
  display: none;
}

.my-location {
  background-color: #fe2954;
  border-radius: 6px;
  border-width: 2px;
  border-style: solid;
  border-color: black;
}

.find-by-address {
  display: none;
}
