.white, .single, .renters, .minors, .low-income, .drive {
  background: @blue;
}
.black, .carpool {
  background: @green;
}
.asian, .married, .owners, .seniors, .med-income, .transit {
  background: @red;
}
.hispanic, .high-income, .bike {
  background: @orange;
}
.other, .walk {
  background: @purple;
}
.home {
  background: @yellow;
}

.charts {
  .population { 
    padding-bottom: 8px;
  }

  .average-graph {
    padding-bottom: 10px;
  }
  .bar {
    height: 20px;
    float: left;

    &.average {
      height: 6px;
      opacity: 0.5;
    }
  }
}

.key {
  font-size: 12px;
  padding-top: 30px;

  .swatch {
    width: 10px;
    height: 10px;
    display: inline-block;
  }

  .key-value {
    padding-right: 4px;
    display: inline-block;
    padding-bottom: 3px;
  }
}