.charts {
  // float: left;

  .bar {
    height: 20px;
    float: left;

    &.white {
      // blue
      background: #4d9fd7;
    }

    &.hispanic {
      // orange
      background: #fcbb75;
    }

    &.black {
      // green
      background: #c1ceaf;
    }

    &.asian {
      // red
      background: #ca6951;
    }

    &.other {
      // purple
      background: #c7bbdc;
    }
  }
}