.white, .other-age, .other-income, .single, .renters, .drive, .english {
  background: @blue;
  &.average, &.lighter { background: lighten(@blue, 25%); }
}
.black, .carpool, .divorced, .minors, .low-income {
  background: @green;
  &.average, &.lighter { background: lighten(@green, 10%); }
}
.asian, .married, .owners, .seniors, .med-income, .transit, .nonenglish {
  background: @red;
  &.average, &.lighter { background: lighten(@red, 25%); }
}
.hispanic, .widowed, .high-income, .bike {
  background: @orange;
  &.average, &.lighter { background: lighten(@orange, 15%); }
}
.other, .walk {
  background: @purple;
  &.average, &.lighter { background: lighten(@purple, 10%); }
}
.home {
  background: @yellow;
  &.average, &.lighter { background: lighten(@yellow, 5%); }
}

.charts {
  position: relative;

  .back {
    position: absolute;
    right: -10px;
    top: -31px;
    font-size: 12px;
    color: #666;
    cursor: pointer;
    transition: color 0.1s linear;
    padding: 5px 10px;

    &:hover {
      color: @red;
    }
  }

  .population { 
    padding-bottom: 8px;
  }

  .name {
    padding-bottom: 5px;
    font-weight: bold;
  }

  .district-chart {
    display: inline-block;
    width: 100%;
  }

  .label {
    // display:none;
    font-size: 10px;
    text-transform: uppercase;

    &.district {
      padding-bottom: 2px;
    }

    &.average {
      padding-top: 11px;
    }
  }

  .chart-group {
    padding-bottom: 5px;
    display: inline-block;
    width: 100%;
  }

  // .chart-group:first-child {
  //   .label {
  //     display: block;
  //   }
  // }

  .bar {
    height: 20px;
    float: left;
    position: relative;
    cursor: pointer;

    .tooltip {
      display: none;
      position: absolute;
      bottom: 25px; 
      right: 50%;
      background: #EEE;
      font-size: 11px;
      z-index: 999;
      cursor: default;
      min-width: 93px;
      border-radius: 3px;

      .percent {
        font-weight: bold;
        font-size: 13px;
      }

      .demo-details {
        padding: 5px 8px;
        text-align: center;
      }

      .demo-label {
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        text-align: center;
        font-weight: bold;
        font-size: 13px;
        padding: 3px;
      }
    }

    &:hover {
      .tooltip {
        display: block;
      }
    }

    &.average {
      height: 6px;

      .tooltip {
        bottom: -73px;
      }
    }
  }
}

.average.bar, .district.bar {
  &:first-child {
    .tooltip {
      left: 50%;
      right: auto;
    }
  }
}

.key {
  font-size: 12px;
  padding-bottom: 5px;

  .swatch {
    width: 10px;
    height: 10px;
    display: inline-block;
  }

  .key-value {
    padding-right: 6px;
    display: inline-block;
    padding-bottom: 2px;
  }
}    

.divider {
  border-top: 1px solid #EEE;
  margin-bottom: 10px;
  margin-top: 6px;
}

.container:last-child {
  margin-bottom: 80px;
}
