<!doctype html>
<html>
  <head>
    <title><%= json.project.title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="style.css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <%= t.include("partials/_adHead.html") %>
  </head>

  <body class="frozen">
    <nav class="bar">
      <a href="http://seattletimes.com">
        <img src="http://seattletimes.com/art/ui/seattletimeslogo_home.svg" class="logo">
      </a>
      <h2 class="section-title">Politics</h2>
      <a class="share"></a>
    </nav>

    <div class="exit">
      Get me out of here!
    </div>

    <div id="map"></div>

    <div class="info-box">
      <div class="inner">
        
        <div class="location-box">
          You are in:
          <div class="spinner">
            <i class="fa fa-spinner fa-spin"></i> Loading...
          </div>
          <h2 class="result"></h2>
          <div class="search">
            <a href="#"><i class="fa fa-search"></i> <em>Use another address</em></a>
          </div>
          <div class="find-by-address">
            <p>
              <input id="address" class="address"><br>
              <button class="onward-button">Onward!</button>
            </p>
          </div>
        </div>

        <!-- Template this at some point -->

        <div class="data-box">
          <h4>Compare districts by:</h4>

          <div class="demo-tile">
            <div><i class="fa fa-caret-right"></i> <span class="demo-name">Race/Ethnicity</div>
            <div class="demo-box">
              <ul>
                <li class="demo" id="white">White</li>
                <li class="demo" id="hispanic">Hispanic/Latino</li>
                <li class="demo" id="black">Black/African American</li>
                <li class="demo" id="asian">Asian</li>
                <li class="demo" id="multi">More than one race</li>
                <li class="demo" id="other">Other race*</li>
              </ul>
            </div>
          </div>

          <div class="demo-tile">
            <div><i class="fa fa-caret-right"></i> <span class="demo-name">Marital Status</div>
            <div class="demo-box">
              <ul>
                <li class="demo" id="single">Never married</li>
                <li class="demo" id="married">Married</li>
                <li class="demo" id="widowed">Widowed</li>
                <li class="demo" id="divorced">Divorced</li>
              </ul>
            </div>
          </div>

          <div class="demo-tile">
            <div><i class="fa fa-caret-right"></i> <span class="demo-name">Rent/Own</div>
            <div class="demo-box">
              <ul>
                <li class="demo" id="renters">Renters</li>
                <li class="demo" id="owners">Owners</li>
              </ul>
            </div>
          </div>

          <div class="demo-tile">
            <div><i class="fa fa-caret-right"></i> <span class="demo-name">Age</div>
            <div class="demo-box">
              <ul>
                <li class="demo" id="seniors">Age 65+</li>
                <li class="demo" id="minors">Age &lt;18</li>
              </ul>
            </div>
          </div>

          <div class="demo-tile">
            <div><i class="fa fa-caret-right"></i> <span class="demo-name">Income</div>
            <div class="demo-box">
              <ul>
                <li class="demo" id="poverty">Families below poverty</li>
              </ul>
            </div>
          </div>

          <div class="demo-tile">
            <div><i class="fa fa-caret-right"></i> <span class="demo-name">Commute Mode</div>
            <div class="demo-box">
            </div>
          </div>

          <div class="demo-tile">
            <div><i class="fa fa-caret-right"></i> <span class="demo-name">Language</div>
            <div class="demo-box">
              <ul>
                <li class="demo" id="english">Speak only English at home</li>
              </ul>
            </div>
          </div>
        </div>

        <div class="district-box"></div>

      </div>
    </div>

    <script>
      var districtData = <%= JSON.stringify(json.district_data) %>;
      var demoData = window.demoData = <%= JSON.stringify(csv.demo_data_other) %>;
      window.formatNumber = <%= t.formatNumber.toString() %>
    </script>

    <script src="app.js"></script>
    <% /*= t.include("partials/_adFoot.html"); */ %>
    <%= t.include("partials/_workHere.html") %>
  </body>
</html>
