<!doctype html>
<html>
  <head>
    <title><%= json.project.title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="style.css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700' rel='stylesheet' type='text/css'>
    <%= t.include("partials/_adHead.html") %>
  </head>
  <body class="frozen">

    <div class="exit">
      Get me out of here!
    </div>

    <div id="map"></div>

    <div class="info-box">
      <div class="inner">
        
        <div class="location-box">
          You are in:
          <h2 class="result"></h2>
          <div class="search">
            <a href="#"><i class="fa fa-search"></i> <em>Use another address</em></a>
          </div>
          <div class="find-by-address">
            <p>
              <input id="address" class="address"><br>
              <button class="onward-button">Onward!</button>
            </p>
          </div>
          <hr>
        </div>

        <div class="data-box">
          <h4>Compare districts by:</h4>
          <ul>
            <li id="population">Population</li>
            <li id="households">Households</li>
            <li id="white">White</li>
            <li id="hispanic">Hispanic/Latino</li>
            <li id="black">Black/African American</li>
            <li id="native">American Indian/Alaska Native</li>
            <li id="asian">Asian</li>
            <li id="native">Native Hawaiian/Pacific Islander</li>
            <li id="other">Other race</li>
            <li id="multi">More than one race</li>
            <li id="poverty">Families below poverty</li>
            <li id="college">College degree or higher</li>
            <li id="seniors">Age 65+</li>
            <li id="minors">Age &lt;18</li>
            <li id="english">Speak only English at home</li>
            <li id="single">Never married</li>
            <li id="married">Married</li>
            <li id="widowed">Widowed</li>
            <li id="divorced">Divorced</li>
            <li id="renters">Renters</li>
            <li id="owners">Owners</li>
          </ul>
        </div>

        <div class="district-box"></div>

      </div>
      <div class="spinner">
        <i class="fa fa-spinner fa-spin"></i> Loading...
      </div>
    </div>

    <script>
      var districtData = <%= JSON.stringify(json.district_data) %>;
      var demoData = <%= JSON.stringify(csv.demo_data) %>;
      window.formatNumber = <%= t.formatNumber.toString() %>
    </script>

    <script src="app.js"></script>
    <% /*= t.include("partials/_adFoot.html"); */ %>
    <%= t.include("partials/_workHere.html") %>
  </body>
</html>
