<!doctype html>
<html>
  <head>
    <title><%= json.project.title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="style.css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <%= t.include("partials/_adHead.html") %>
  </head>
  <body>

    <div id="map"></div>

    <div>
      You are currently in:
      <div class="spinner">
        <i class="fa fa-spinner fa-spin"></i> Finding your district...
      </div>
      <div class="result"></div>
      Not right? 
      Use a different address:
      <input id="address"><button class="onward">Onward, to glory!</button>
    </div>

    <script>
      var districtData = <%= JSON.stringify(json.district_data) %>
    </script>

    <script src="app.js"></script>
    <% /*= t.include("partials/_adFoot.html"); */ %>
    <%= t.include("partials/_workHere.html") %>
  </body>
</html>
